/*
Ki generiert
*/

@import "common.css";

#loginButton {
    -fx-background-color: linear-gradient(to bottom, -c-brand, -c-brand-dark);
    -fx-text-fill: -c-on-brand;
    -fx-border-color: transparent;
    -fx-pref-width: 250px;
}

#loginButton:hover {
    -fx-background-color: linear-gradient(to bottom, derive(-c-brand, 10%), -c-brand);
}

#loginButton:pressed {
    -fx-background-color: linear-gradient(to bottom, -c-brand-dark, derive(-c-brand-dark, -10%));
}

#toggleButton {
    -fx-background-color: transparent;
    -fx-text-fill: -c-brand;
    -fx-border-color: transparent;
    -fx-font-size: 13px;
    -fx-pref-width: 250px;
}

#toggleButton:hover {
    -fx-text-fill: derive(-c-brand, -10%);
    -fx-underline: true;
}

#toggleButton:pressed {
    -fx-text-fill: -c-brand-dark;
}

#usernameInput,
#passwordInput,
#passwordCheck {
    -fx-pref-width: 250px;
}
